@import '../../static/css/_common.scss';
@import '../../static/css/_button.scss';

.topbar {
  background: $dylan-white;
  color: $dylan-black;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topbar-logo {
  height: 30px;
  width: 30px;
  transition: transform 0.5s;
}

.topbar-logo:hover {
  transform: rotate(360deg);
}

.topbar-nav {
  display: flex;
  gap: 24px;
}


