$dylan-white:      #FFFFFF; 
$dylan-black:      #121212; 
$dylan-gray-light: #F7F7F7; 
$dylan-gray:       #666666; 
$dylan-gray-dark:  #1A1A1A; 
$dylan-accent:     #00A3FF; 
$dylan-pink:       #FF4AC1;


